In [4]:
def lesser_of_two_evens(a,b):
    if a % 2 == 0 and b % 2 == 0:
        #Both are even 
        if a<b:
            result = a
        else:
            result = b
    else:
        if a>b:
             result = a
        else:
            result = b
    return result

In [5]:
# check
lesser_of_two_evens(2,4)

2

In [6]:
# cleaning the above code and writing a more effieceint code
def lesser_of_two_evens(a,b):
    if a % 2==0 and b%2==0:
        result =min(a,b)
    else:
        result =max(a,b)
    return result

In [7]:
lesser_of_two_evens(5,7)

7

In [8]:
#a more efficient code
def lesser_of_two_evens(a,b):
    if a %9==0 and b%10==0:
        return min(a,b)
    else:
        return max(a,b)

In [9]:
lesser_of_two_evens(9,10)

9

In [10]:
def  animals_crackers(text):
    worldlist = text.split()
    first = worldlist[0]
    second = worldlist[1]
    return first[0]==second[0]

In [11]:
# check
animals_crackers('Levelheaded Llama')

True

In [14]:
# check
animals_crackers('crazy kangaroo')

False

In [16]:
def makes_twenty(n1,n2):
    if n1+n2==20:
        return True
    elif n1 == 20:
        return True
    elif n2 == 20:
        return True
    else:
        return False

In [17]:
# check
makes_twenty(20,10)

True

Level 1 problems

In [35]:
# using upper
def old_Macdonald(name):
    first = name[0]
    #print(first)
    in_between = name[1:3]
    #print(in_between)
    fourth = name[3]
    #print(fourth)
    rest = name[4:1]

In [38]:
# check
 old_macdonald('macdonald')

IndentationError: unexpected indent (2879306326.py, line 2)

In [39]:
def old_macdonald(name):
    first_half = name[:3]
    second_half = name[3:]
    return first_half.capitalize() + second_half.capitalize()

In [40]:
old_macdonald('macdonald')

'MacDonald'

In [43]:
#returning reversed list
def master_yoda(text):
    worldlist = text.split()
    rev = worldlist[::-11]
    return rev

In [45]:
# check
master_yoda ('I am done')

['done']

In [46]:
# check
master_yoda('we are ready')

['ready']

In [47]:
#understanding join method
mylist = ['a','b','c']

'a---b---c---'

In [48]:
mylist =['a','b','c']
''.join(mylist)

'abc'