1.Create varieable of different data types (integer,float,string,)and perform various arithmetic operation oon them.

In [1]:
a=12
b=2.4
c="30"
result1 =a+int(c)
result2 =a*b
result3 =a/b
print(result1,result2,result3)

42 28.799999999999997 5.0

2.Given a string s="programming is fun",extract the word "is"using slicing.

In [6]:
s ="programming is fun"
extracted_word =s
print(extracted_word)

programming is fun

3.Calculate the area of a rectagle with lenght i and width w using the multification operator.

In [5]:
l =12
w =6
area =l*w
print("the area of rectangle is:",area)

the area of rectangle is: 72

4.given two number x and y,calculate their sum,difference, product,and quotient using arithmetic operator.

In [7]:
x = 6
y =8
sum_result =x+y
diff_result =x-y
prod_result =x*y
quot_result =x/y
print("sum:",sum_result)
print("Difference:",diff_result)
print("Product:",prod_result)
print("Quotient:",quot_result)

sum: 14
Difference: -2
Product: 48
Quotient: 0.75

8.Determine the remainder of the division of two number a and b using the module operator.

In [8]:
a = 15
b = 4
remainder =a%b
print("The remainder of the division is:",remainder)

The remainder of the division is: 3

TLO3

In [1]:
string1="python"
string2="programming"
concatenated_string=string1+string2
length=len(concatenated_string)
print("length of the concatenated string:",length)

length of the concatenated string: 17

In [2]:
input_string="python is an easy-to-learn and powerful programming language"
character_to_find="p"
index=input_string.find(character_to_find)
print(f"Index of character'{character_to_find}':{index}")

Index of character'p':0

In [5]:
my_dict={"A":1,"B":2,"C":3}
value=my_dict.get("B")
print("value assoiated with key'B':",value)

value assoiated with key'B': 2

In [6]:
my_tuple=(1,2,3,4,15)
length=len(my_tuple)
print("length of the tuple:",length)

length of the tuple: 5

In [8]:
input_string="madam"
is_palindrome=input_string.lower()==input_string.lower()[::-1]
print(f"Is'{input_string}'a palindrome?{is_palindrome}")

Is'madam'a palindrome?True

In [9]:
my_list=[4,6,7,8,5,9]
max_value=max(my_list)
min_value=min(my_list)
print("maximum value:",max_value)
print("minimum value:",min_value)

maximum value: 9
minimum value: 4

In [12]:
my_list=[1,2,32,5,6,7,8,2]
unique_set=set(my_list)
print("Set without duplicates:",unique_set)

Set without duplicates: {32, 1, 2, 5, 6, 7, 8}

TLO4