In [1]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [2]:
for num in range(0,10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [3]:
(range(0,10))

range(0, 10)

In [6]:
for num in range(3,10):
     print(num)

3
4
5
6
7
8
9

In [8]:
for num in range(0,11,2):
    print(num)

0
2
4
6
8
10

In [9]:
#enumerate

In [13]:
index_count =0
for letter in 'abcde':
    print('At index {} the letter is {}'.format(index_count,letter))
    index_count +=1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [16]:
word ='abcd'
for item in enumerate(word):
    print(item)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')

In [17]:
type(item)

tuple

In [18]:
#zip function

In [20]:
mylist1 =['a','b','c']
mylist2=[1,2,3]
for l1,l2 in zip(mylist1,mylist2):
    print(l1)
    print(l2)

a
1
b
2
c
3

In [21]:
mylist1 =['a','b','c']
mylist2=[1,2,3,4,5]
mylist3=[11,33,44]
for mylist1,mylist2,mylist3 in zip(mylist1,mylist2,mylist3):
    print(mylist1)
    print(mylist2)
    print(mylist3)

a
1
11
b
2
33
c
3
44

In [22]:
#in keyword

In [23]:
'x'in[2,3,4]

False

In [24]:
'x'in['x','y','z']

True

In [25]:
'mykey'in {'mykey'}

True

In [26]:
d={'mykey':345}
345 in d

False

In [27]:
345 in d.values()

True

In [28]:
345 in d.keys()

False

In [29]:
#min,max

In [30]:
mylist =[10,20,30,40,50,60]
min(mylist)

10

In [31]:
max(mylist)

60

In [1]:
# ramdom library

In [3]:
from random import shuffle
mylist=[1,2,3,4,5,6,7,8,9]
shuffle(mylist)
mylist

[3, 2, 8, 6, 9, 5, 1, 4, 7]

In [4]:
from random import randint
randint(0,100)

6

In [5]:
my_num=randint(0,100)
my_num

71

In [6]:
#input()

In [7]:
input("enter a number here")

enter a number here44

'44'

In [8]:
input("what is your fav colour")

what is your fav colourred

'red'

In [5]:
number =float(input('enter 1st number'))
number_two =float(input('enter 2nd number'))
result =number*number_two
print(result)

enter 1st number4
enter 2nd number5
20.0

In [4]:
number =float(input('enter 2nd number'))
number_three =float(input('enter 3rd number'))
result =number+number_three
print(result)

enter 2nd number44
enter 3rd number55
99.0

In [6]:
#list compehensions in python

In [12]:
mystring='hello'
mylist =[]
for letter in mystring:
   mylist.append(letter)

In [13]:
mylist

['h', 'e', 'l', 'l', 'o']

In [14]:
mystring='hello'
mylist =[letter for letter in mystring]

In [15]:
mylist

['h', 'e', 'l', 'l', 'o']

In [16]:
mylist =[x for x in 'april and may']

In [17]:
mylist

['a', 'p', 'r', 'i', 'l', ' ', 'a', 'n', 'd', ' ', 'm', 'a', 'y']

In [27]:
mynum =[num**2 for num in range(0,11)]

In [28]:
mynum

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [29]:
celcius =[0,10,20,30,40,50,60]
fahrenhait =[((9/5)*temp+32)for temp in celcius]

In [30]:
fahrenhait

[32.0, 50.0, 68.0, 86.0, 104.0, 122.0, 140.0]

In [31]:
celcius =[0,10,20,30,40,50]
fahrenhait =[]
for temp in celcius:
    fahrenhait.append((9/5)*temp+32)
print(fahrenhait)

[32.0, 50.0, 68.0, 86.0, 104.0, 122.0]

In [37]:
#nested loop

In [40]:
mylist=[]
for x in [2,4,6]:
    for y in [1,10,1000]:
     mylist.append(x*y)

In [41]:
mylist

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]